:root {
    font-size: 62.5%;
  
    --title-size: 4rem;
    --subtitle-size: 2rem;
    --text-size: 1.2rem;
    --light-color: #fff;
    --dark-color: #2e183b;
    --secondary-color: #f25725;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    background-color: var(--dark-color);
    height: 40rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    color: var(--light-color);
    clip-path: polygon(0% 0%, 0% 80%, 100% 100%, 100% 0%);
  }
  
  h2 {
    font-size: var(--subtitle-size);
    text-align: center;
  }
  
  h1 {
    font-size: var(--title-size);
    text-align: center;
  }
  
  p {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  
  .nav-list {
    list-style: none;
    margin-top: 3rem;
  
    display: flex;
  }
  
  .nav-list li {
    margin: 0 2rem;
    font-size: 1.4rem;
  
    background: linear-gradient(45deg, var(--secondary-color), #ffad03);
    width: 17rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 0.4rem;
    transition: all 0.2s;
  }
  
  .nav-list li:hover {
    background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color));
    cursor: pointer;
  }
  
  main {
    width: 100%;
    color: #121212;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* ======== Form ======== */
  
  .help-form {
    margin: auto;
    margin-top: 2rem;
    width: 100rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 8rem;
  }
  
  .text {
    width: 52rem;
    margin-right: 5rem;
  }
  
  .text h2 {
    margin-bottom: 3rem;
    text-align: left;
  }
  
  .form {
    width: 40rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-name,
  .form-email,
  .form-cpf {
    display: flex;
    flex-direction: column;
  
    margin-bottom: 2rem;
  }
  
  .form-name {
    margin-top: 1.4rem;
  }
  
  .form-name label,
  .form-email label,
  .form-cpf label,
  .form-genre {
    font-size: var(--text-size);
    margin-bottom: 0.7rem;
  }
  
  .form-name input,
  .form-email input,
  .form-cpf input {
    width: 34rem;
    height: 3rem;
    padding-left: 1rem;
    outline: none;
  }
  
  .form-genre {
    display: flex;
    align-items: center;
  }
  
  .form-genre input {
    margin-right: 0.3rem;
  }
  
  .form-button button {
    width: 34rem;
    height: 3.9rem;
    border: none;
    color: var(--light-color);
    background-color: var(--dark-color);
    font-weight: bold;
    font-size: 1.6rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-top: 2.3rem;
  
    transition: all 0.3s;
  }
  
  .form-button button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }
  
  #female {
    margin-left: 2rem;
  }
  

/* ========Line======== */

.lineDiv {
  display: flex;
  align-items: center;
  margin: auto;
}

.line {
  width: 45rem;
  height: .1rem;
  background-color: #121212;
}

.lineDiv h2 {
  margin: 0 1rem;
}

  

/* ======= Products cards ======== */

.products-cards {
  display: grid;
  grid-template-columns: repeat(4, 30rem);
  justify-content: center;

  margin-bottom: 6rem;
}

  .card {
    width: 20rem;
    height: 35rem;
    position: relative;

    margin: 4rem;
    cursor: pointer;
  }
  
  .card-image {
    width: 20rem;
    height: 15rem;
  }
  
  .product-name {
    font-size: 1.4rem;
    position: absolute;
    bottom: 16rem;
    left: 0rem;
  }
  
  .product-description {
    font-size: 1.2rem;
    position: absolute;
    bottom: 11rem;
    left: 0rem;
  }
  
  .old-price {
    font-size: 1.2rem;
    position: absolute;
    bottom: 8rem;
    left: 0rem;
  }
  
  .price {
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    bottom: 5.7rem;
    left: 0rem;
  }
  
  .installments {
    font-size: 1.2rem;
    position: absolute;
    bottom: 4rem;
    left: 0rem;
  }
  
  .buy-button {
    width: 20rem;
    height: 3rem;

    position: absolute;
    bottom: 0;
    left: 0;

    border: none;
    border-radius: .3rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: all .3s;
  }

  .buy-button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }

  .more-products {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .more {
    border: none;
    height: 4rem;
    width: 26rem;

    background-color: var(--secondary-color);
    color: var(--light-color);
    transition: .3s all;

    margin-bottom: 8rem;
  }

  .more:hover {
    background-color: var(--dark-color);
    cursor: pointer;
  }



  /* ======== Share ============= */

  .fill-text {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }

  .share {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  .friend-name {
    margin-right: 3rem;
    margin: 0 3rem 0 0;
  }

  .friend-email {
    margin: 0;
  }

  .send-now {
    display: grid;
    justify-content: center;
    margin-bottom: 7rem;
  }


  /* ======== Footer ============= */

  .footer {
    height: 29rem;
    width: 100%;
    background-color: var(--dark-color);

    clip-path: polygon(0% 30%, 0% 100%, 100% 100%, 100% 0%);

    display: grid;
    align-content: center;

    color: white;

    text-align: center;
    line-height: 170%;

    font-size: 1.2rem;

}


@media (max-width: 420px){
  header {
    background-color: red;
  }
} 